.display-container {
  font-family: 'Arial Black', sans-serif;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 60%;
  margin: 20px 0 20px 200px; /* Márgenes: superior, derecho, inferior, izquierdo */
  background: linear-gradient(to right, #ffffff, #e6e6e6); /* Fondo claro */
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra sutil */
}



/* Configuración del teclado numérico */
.numeric-keypad {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  gap: 15px;
  justify-content: center; /* Centra el teclado numérico horizontalmente */
  margin: 0 auto;
  padding: 20px;
}

/* Estilos para botones numéricos */
.numeric-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 70px;
  border: none;
  border-radius: 8px;
  background-color: #007bff;
  color: white;
  font-size: 2.6em;
  cursor: pointer;
  transition: transform 0.2s ease, background-color 0.2s;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  margin: 6px;
  font-family: 'Arial Black', sans-serif;
}

/* Aplicar esta regla específica al botón cero */
.numeric-button.zero {
  grid-column: 2 / span 1;
}

.numeric-button:hover {
  transform: scale(1.1);
  background-color: #0056b3;
}

/* Estilos de texto y títulos */
h1, h2 {
  color: #343a40;
  text-align: center;
  font-family: 'Arial Black', sans-serif;
}

/* Estilización de formularios y entradas de texto */
form {
  margin-top: 20px;
}

input[type="number"] {
  width: 100%;
  padding: 12px;
  font-size: 19px;
  margin-bottom: 16px;
  border-radius: 18px;
  border: 1px solid #ced4da;
  background: #ffffff;
  font-family: 'Arial Black', sans-serif;
}

/* Botones generales con estilos modernos */
.button {
  width: 100%;
  padding: 18px;
  border: none;
  border-radius: 8px;
  color: white;
  background-color: #17a2b8;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.2s;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  font-family: 'Arial Black', sans-serif;
}

.button:hover {
  background-color: #138496;
}

/* Iconos de FontAwesome integrados en botones */
.fa-user-circle, .fa-user, .fa-money-bill-alt, .fa-book, .fa-hand-holding-usd, .fa-thumbs-up, .fa-user-alt, .fa-print {
  margin-right: 9px;
  color: #007bff;
}

/* Estilos específicos para los botones que contienen estos iconos */
.selection-button, .print-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 18px 36px;
  margin: 10px 5px;
  font-size: 16px;
  border-radius: 8px;
  color: white;
  background-color: #17a2b8;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.15);
  font-family: 'Arial Black', sans-serif;
}

.selection-button:hover, .print-button:hover {
  background-color: #138496;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
  transform: translateY(-3px);
}

.print-button {
  background-color: #6c757d;
}

.print-button:hover {
  background-color: #5a6268;
}

