/* General container styles */
.turnos-container {
  background: linear-gradient(to right, #ffffff, #e6e6e6);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

/* Button styles */
.area-button,
.action-buttons button,
.btn-anular,
.btn-preferencial,
.btn-atender,
.btn-finalizar,
.btn-transferir,
.transfer-button {
  padding: 10px 20px;
  margin: 10px;
  font-size: 1rem;
  color: white;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: background-color 0.3s, filter 0.3s;
}

.area-button {
  background-color: #007bff;
}

.action-buttons button,
.btn-finalizar,
.btn-atender,
.btn-preferencial {
  background-color: #ffc107;
}

.btn-anular {
  background-color: #dc3545;
}

.btn-transferir {
  background-color: #28a745; 
}

.transfer-button {
  background-color: #007bff;
}

/* Hover effects */
.area-button:hover,
.action-buttons button:hover,
.btn-anular:hover,
.btn-preferencial:hover,
.btn-atender:hover,
.btn-finalizar:hover,
.btn-transferir:hover,
.transfer-button:hover {
  filter: brightness(90%);
}

/* Status section styles */
.status-section {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 20px;
}

.status-item {
  text-align: center;
  flex: 1;
  position: relative;
}

.status-item:not(:last-child)::after {
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 1px; /* Ancho del separador */
  background-color: #ccc; /* Color del separador */
}

/* Transfer modal styles */
.transfer-modal {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 20px;
  border-radius: 5px;
  margin-top: 20px;
}

.transfer-modal h3,
.transfer-modal p {
  margin-bottom: 20px;
}

.transfer-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}


